.app {
  background: linear-gradient(
    180deg,
    var(--neutral-background-1) 0%,
    #131313 100%
  );
  display: flex;
  color: var(--text-normal);
}

.app main {
  padding: 40px;
  flex: 1;
  margin-left: 60px;
  position: relative;
}

.app main .content {
  background-color: var(--neutral-background-2);
  margin-top: 24px;
  padding: 13px;
  border-radius: 8px;
  min-height: 605px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
